registry=https://registry.npmjs.org/
@taptap-discovery:registry=https://cm-nexus.taptap.com.vn/repository/taptap-npm/
//cm-nexus.taptap.com.vn/repository/taptap-npm/:_authToken=NpmToken.aca21e4b-8626-3755-a79f-076a8ee98c48